@define-mixin BaseTypography {
  font-family: inherit;
}

@define-mixin BaseHeadingTypography {
  @mixin BaseTypography;

  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@define-mixin BaseBodyTypography {
  @mixin BaseTypography;

  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 400;
}

@define-mixin HeadingStyles {
  @mixin BaseHeadingTypography;
}

@define-mixin BodyStyles {
  @mixin BaseBodyTypography;
  color: var(--text-secondary);
}

.ch-heading {
  @mixin HeadingStyles;
}

.ch-body {
  @mixin BodyStyles;
}

.ch-color-primary {
  color: var(--text-primary);
}
.ch-color-secondary {
  color: var(--text-secondary);
}
