@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #05052c;

    --card: #ffffff;
    --card-foreground: #05052c;

    --popover: #ffffff;
    --popover-foreground: #05052c;

    --primary: #0c1c25;
    --primary-foreground: #f1f7fb;

    --secondary: #e9edf6;
    --secondary-foreground: #0c1c25;

    --muted: #e9edf6;
    --muted-foreground: #727b86;

    --accent: #e9edf6;
    --accent-foreground: #0c1c25;

    --destructive: #f23b3b;
    --destructive-foreground: #f1f7fb;

    --border: #e5e4e1;
    --input: #e5e4e1;
    --ring: #ffa145;
    --radius: 0.75rem;
    --prime-text: #000;
  }

  .dark {
    --background: #0f0f0f;
    --foreground: #a2a2a2;

    --card: #1a1a1a;
    --card-foreground: #f1f7fb;

    --popover: #151210;
    --popover-foreground: #f1f7fb;

    --primary: #f1f7fb;
    --primary-foreground: #0c1c25;

    --secondary: #2c2826;
    --secondary-foreground: #f1f7fb;

    --muted: #2c2826;
    --muted-foreground: #9ba7b2;

    --accent: #2c2826;
    --accent-foreground: #f1f7fb;

    --destructive: #ff0000;
    --destructive-foreground: #f1f7fb;

    --border: #2a2422;
    --input: #2a2422;
    --ring: #f1580a;
    --prime-text: #fff;
  }
}

.inline-code {
  @apply select-all rounded border border-stone-200 bg-stone-100 p-0.5 font-mono dark:border-stone-700 dark:bg-stone-800 dark:text-stone-100;
}

.SliderSet .border-primary {
  @apply rounded-full border-2 border-black dark:border-white;
}

.special-border {
  border: solid 3px #242424;

  @media (min-width: 768px) {
    background: transparent;
    padding: 0.5rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 1rem;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
  }
}

.ch-heading {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.ch-text {
  font-size: 14px;
  line-height: 20px;
}

.ch-text,
.ch-heading {
  color: var(--text-primary);
}

.ch-text.ch-muted {
  color: var(--text-secondary);
}
.ch-heading.ch-muted {
  color: var(--text-secondary);
}

.chroniconl-label {
  @apply text-base font-bold text-stone-700 dark:text-stone-200 md:text-lg;
}

.chroniconl-textarea {
  @apply min-h-[100px] w-full rounded-md border bg-background px-2.5 py-2 text-base text-stone-500 placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 dark:text-stone-400 md:text-lg;
}
