.ch-button {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #282828;
  color: #fff;
  outline: 1px solid #2a2422;
  /* outside */
  border: 1px solid #0f0f0f;
  /* inside */
}

.ch-button:hover {
    background-color: #2a2422;
  }

.ch-button-secondary {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: 1px solid transparent;
  /* outside */
  border: 1px solid transparent;
  /* inside */
}

.ch-button-secondary:hover {
    outline: 1px solid #2a2422; /* outside */
    border: 1px solid #0f0f0f; /* inside */
  }

.ch-button-primary-marketing {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #282828;
  color: #fff;
  outline: 1px solid #2a2422;
  /* outside */
  border: 1px solid #0f0f0f;
  border-radius: 1000px;
  /* inside */
}

.ch-button-primary-marketing:hover {
    background-color: #2a2422;
  }

.ch-button-secondary-marketing {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: 1px solid transparent;
  /* outside */
  border: 1px solid transparent;
  color: #000;
  background-color: #fff;
  outline: 1px solid transparent;
  /* outside */
  border: 1px solid transparent;
  /* inside */
  border-radius: 1000px;
  /* inside */
}

.ch-button-secondary-marketing:hover {
    outline: 1px solid #2a2422; /* outside */
    border: 1px solid #0f0f0f; /* inside */
  }

.ch-button-secondary-marketing:hover {
    background-color: #f1f1f1;
  }

.ch-button-primary-outline {
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #282828;
  color: #fff;
  outline: 1px solid #2a2422;
  /* outside */
  border: 1px solid #0f0f0f;
  border: 1px solid #2a2422;
  /* inside */
}

.ch-button-primary-outline:hover {
    background-color: #2a2422;
  }

/* inside */

.ch-button-primary-outline:hover {
    border: 1px solid #0f0f0f; /* inside */
    background-color: #2a2422;
  }

/*# sourceMappingURL=maps/buttons.css.map */
